body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  main p {
    max-width: 600px;
    margin: 1rem auto;
  }

  section {
    overflow:auto
  }

  h1 {
    font-family: "Syncopate", sans-serif;
  }

  #projects img {
    width: 500px;
    height: 300px;
  }

  [data-aos="fade-out"] {
    opacity: 1 !important;
    transition-property: opacity !important;
  }
  [data-aos="fade-out"].aos-animate {
    opacity: 0 !important;
  }

    [data-aos="fade-half"] {
    opacity: 1 !important;
    transition-property: opacity !important;
  }
  [data-aos="fade-half"].aos-animate {
    opacity: 0.8 !important;
  }



  .shadow {
      box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  }

  .frosted-glass-for-name {
    background-color: rgba(255, 255, 255, 0);  
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
  }

  .frosted-glass {
    background-color: rgba(255, 255, 255, .30);  
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
   }

   .transparent-text {
    /* backdrop-filter: blur(12px);
    background: rgba(white, 0.2); */
    text-shadow: 0 5px 10px rgba(0,0,0,1);
    mix-blend-mode: overlay;
    color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,1);
   }

   .shadow-box {
    box-shadow: 0 5px 10px rgba(0,0,0,1);
   }

   .transparent-text-no-box {
    /* backdrop-filter: blur(12px);
    background: rgba(white, 0.2); */
    text-shadow: 0 5px 10px rgba(0,0,0,1);
    mix-blend-mode: overlay;
    color: #fff;
    
   }

   /* .gray-outline {
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #ebecf0;
   } */

   .circle-shadow {
    box-shadow: 0 0 98px 6px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
   }
